Source: ros-indigo-ackermann-controller
Section: misc
Priority: extra
Maintainer: Vincent Rousseau <vincent.rousseau@irstea.fr>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-ackermann-msgs, ros-indigo-catkin, ros-indigo-controller-interface, ros-indigo-controller-manager, ros-indigo-nav-msgs, ros-indigo-realtime-tools, ros-indigo-rostest, ros-indigo-std-srvs, ros-indigo-tf, ros-indigo-urdf-vehicle-kinematic
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-ackermann-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-ackermann-msgs, ros-indigo-controller-interface, ros-indigo-nav-msgs, ros-indigo-realtime-tools, ros-indigo-tf, ros-indigo-urdf-vehicle-kinematic
Description: Controller for a ackermann mobile base.
